body {
    margin: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

canvas {
    max-width: 90%;
    max-height: 90%;
}
